<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Block>
            <version>1.0.0</version>
        </Edge_Block>
    </modules>
    <global>
        <blocks>
            <block>
                <class>Edge_Block_Block</class>
            </block>
        </blocks>
        <models>
            <block>
                <class>Edge_Block_Model</class>
                <resourceModel>block_resource</resourceModel>
            </block>
            <block_resource>
                <class>Edge_Block_Model_Resource</class>
                <entities>
                    <block>
                        <table>block</table>
                    </block>
                    <type>
                        <table>block_type</table>
                    </type>
                </entities>
            </block_resource>
        </models>
        <helpers>
            <block>
                <class>Edge_Block_Helper</class>
            </block>
        </helpers>
        <resources>
            <block_setup>
                <setup>
                    <module>Edge_Block</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </block_setup>
        </resources>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <block_image_folder>block</block_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <block before="Mage_Adminhtml">Edge_Block_Adminhtml</block>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <block>
                    <file>edge/block.xml</file>
                </block>
            </updates>
        </layout>
    </adminhtml>
</config>
